/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Шрифт */
  --font-main: 'Inter';
  --font-accent: 'Press-Start-2P';
  --wght-normal: 410;
  --wght-bold: 715;
  --label-stroke-color: #FFFFFF; /* Переменная для цвета обводки лейбла */
  /* Цвет */
  --bg-main: #ffffff;
  --text-main: #000000;
  --border-main: #000000;
  /* Сердце */
  --contour-color: #000000;
  --animation-fill-color: #FF0000;
  --core-color: #FFFFFF;
  --sparks-color: #FF0000;
}
